<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="BlazorCoreui.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />


    <link rel="manifest" href="vendors/Coreui/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="vendors/Coreui/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--Font Icons-->
    <link href="vendors/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="vendors/lineawesome/css/line-awesome.min.css" rel="stylesheet" />

    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/Coreui/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="vendors/Coreui/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="vendors/Coreui/css/style.css" rel="stylesheet">
    
    <script src="vendors/Coreui/js/config.js"></script>
    <script src="vendors/Coreui/js/color-modes.js"></script>
    
    <link href="my-style.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>


    <!-- CoreUI and necessary plugins-->
    <script src="vendors/fontawesome/js/fontawesome.min.js"></script>
    <script src="vendors/Coreui/vendors/@@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/Coreui/vendors/simplebar/js/simplebar.min.js"></script>
    <script>
        const header = document.querySelector('header.header');

        document.addEventListener('scroll', () => {
            if (header) {
                header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
            }
        });
    </script>
    

</body>

</html>
