<ul class="sidebar-nav sidebar-lg" data-coreui="navigation" data-simplebar="">
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <svg class="nav-icon">
                <use xlink:href="vendors/Coreui/vendors/@@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg> Dashboard
        </a>
    </li>
    <li class="nav-title">Theme</li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Counter">
            <svg class="nav-icon">
                <use xlink:href="vendors/Coreui/vendors/@@coreui/icons/svg/free.svg#cil-drop"></use>
            </svg> Colors
        </NavLink>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="typography.html">
            <svg class="nav-icon">
                <use xlink:href="vendors/Coreui/vendors/@@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg> Typography
        </a>
    </li>


</ul>
<div class="sidebar-footer  sidebar-lg border-top d-none d-md-flex">
    <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>

@code {

}
