@page "/"
@page "/home"

<PageTitle>Home</PageTitle>

<PageHeader>
    <BreadcrumbBody>
        <li class="breadcrumb-item">
            <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span>Dashboard</span>
        </li>
    </BreadcrumbBody>
</PageHeader>

<div class="body flex-grow-1">
    <div class="container-lg px-4">
        
        
        <h1>Hello, world!</h1>
        <p>Welcome to your new app.</p>


    </div>
</div>